body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;

}

header img {
  height: 50px;
  width: auto;
}

.anchor a {
  color: black;
  text-decoration: none;
  font-weight: bold;

}

.bar {
  display: none;
}

.Header_right {
  display: flex;



}

.Header_right a {
  margin-left: 10px;
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 750px) {
  .bar {
    display: block;
  }

  .anchor {
    display: none;

  }
}

@media screen and (max-width: 450px) {}