@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", serif;
}

.align {
  padding-left: 50px;
}

/* header part */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;

}

header img {
  height: 100px;
  width: auto;
}

.anchor a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;

}

.cart {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;

}

.bar {
  display: none;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.Header_right {
  padding: 0px 30px;
  display: flex;
}

.Header_right a {
  margin-left: 10px;
}


/* main first part */

.half_div {
  width: 50%;
}

.half_div h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.half_div p {
  font-size: 16px;
}

.parent_div {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #E02C6D;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
  margin: 15px 0px;
}

.div_car {
  height: 200px;
  width: auto;
}

.parent_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_side {
  display: flex;
  justify-content: center;
}

/* brand */

.BrandBox {
  margin: 50px 0px;
}

.brand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 20px;
}

.brand img {
  height: 50px;
  width: auto;
  margin: 20px;
}




@media screen and (max-width: 750px) {
  .bar {
    display: block;
  }

  .anchor {
    display: none;

  }

  .div_car {
    height: auto;
    width: 300px;
  }

  .parent_div {
    flex-direction: column-reverse;
  }

  .bar {
    padding-left: 50px;
  }

  .align {
    padding-left: 0;
  }

  .half_div h1 {
    font-size: 30px;
  }

  .left_side {
    text-align: center;
    width: 300px;
  }
}