header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.Options a {
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.child1 {
  height: 200px;
  width: 300px;
  background: #000;
  margin-bottom: 10px;
}